*{
    box-sizing: border-box;
    font-family: Bahnschrift,sans-serif;
}
html{
    height: 100%;
    background-color: white;
}
body{
    height: 100%;

    margin: 0;
    position: relative;

}
main{
    padding-bottom: 45px;
}
/*innentol navigacio*/
#navdiv{
    height: 50px;
    position: relative;
}
nav{
    height:50px;
    width: 100%;
    background-color: deepskyblue;
    display: flex;
    position: fixed;
}

.navlink{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    text-align: center;
}

nav a:hover{
    transition: 1s;
    color:white;
    background-color: darkblue;
}

#active{
    background-color: royalblue;
}
/*idaig navigacio*/


fieldset{
    border: none;
}

.htmlformok{
    margin: auto;
    width: 85%;
}

#formdiv{
    width: 50%;
    height: 450px;
    margin: 40px auto 0 auto;
    background-color: white;
    border: black 1px solid;
    box-shadow:7px 10px 10px lightgray;
}

#logindiv{
    border: black 1px solid;
    width: 400px;
    height: 200px;
    margin: 150px auto 0 auto;
    background-color: white;

    box-shadow:7px 10px 10px lightgray;

}
#formcim{
    text-align: center;
    font-family: "Gill Sans MT",sans-serif;
    font-weight:lighter;
}
#fieldsetblog{
    width: 90%;
    margin: auto;

}

.formgombok {
    margin-left: 5px;
    margin-top: 7px;
    display: inline-block;
    border-radius: 10px;
    border-width: thin;
    background-color: lightgrey;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.formgombok:hover {
    background-color: dodgerblue;
    color: white;
    transform: scale(1.1);
}

#gombfield{
    border: none;
    width: 90%;
    margin-left: 5%;
}

.inputwidth{
    width: 98%;
    margin-bottom: 5px;
    background-color: whitesmoke;
}

.loginwidth{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    background-color: whitesmoke;
}



#nincsmegfiokod{
    margin-top: 20px;
    margin-left: 250px;
    color: darkslategray;
}
#vanmarfiokod{
    margin-left: 15%;
    color: darkslategray;
}
#vanmarfiokoddiv{
    right: 5px;
}

h1{
    text-align: center;
}

p{
    margin:5px 25px 5px 20px;
    text-align: justify;
}
th {
    background-color: black;
    color: #ffffff;
    text-align: left;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

td {
    border: 1px solid #444;

}
tr:nth-child(even) {
    background-color: #d3d3d3;
}

/* Hover effect for rows */
tr:hover {
    background-color: gray;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: deepskyblue;
    justify-content: center;
}
